Click==7.0
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
addict==2.2.1
gql==0.1.0
requests==2.22.0
sgqlc==7.0
waitress==0.8.9 #a pure python WSGI server that is a replacement for gunicorn
