{% extends "layouts/full_width_no_sidebar.html" %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-l">By repository</h1>
      <div class="govuk-body">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#teams">
                Teams
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#topics">
                Other Topics
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#key">
                Key
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="teams">
            <p class="govuk-body">
              We have used existing repository topic tags to classify repositories as well as we can
              into service teams.

              Where we have been unable to identify a team we have grouped those repositories under
              an "unknown" category.

              If we have got a repository wrong you can either add a topic yourself or let us know.
            </p>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-team">
              {% for team in teams %}
              {% set team_repos = team_dict[team] %}
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-team-heading-{{team}}">
                      {{team}}
                    </span>
                  </h2>
                </div>
                <div id="accordion-team-content-{{team}}" class="govuk-accordion__section-content" aria-labelledby="accordion-team-heading-{{team}}">
                  {% for repo_name in team_repos %}
                    {% if repo_name in repositories %}
                    {% set repo = repositories[repo_name] %}
                    {% include "components/content_blocks/repository_summary.html" %}
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </section>

          <section class="govuk-tabs__panel" id="topics">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-topic">
              {% for topic, repos in other_topics.items() %}
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-topic-heading-{{topic}}">
                      {{topic}}
                    </span>
                  </h2>
                </div>
                <div id="accordion-topic-content-{{topic}}" class="govuk-accordion__section-content" aria-labelledby="accordion-topic-heading-{{topic}}">
                  {% for repo in repos %}
                      <p class='govuk-body'><a href="https://github.com/alphagov/{{repo}}" class="govuk-link">{{repo}}</a></p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </section>

          <section class="govuk-tabs__panel" id="key">

            <p class="govuk-body">
              The teams tab shows 4 tags against each repository.
              The tags represent the four properties shown below:
            </p>

            <h3 class="govuk-heading-m">Commit history</h3>
            <strong class="govuk-tag__fixed-width--passed">act</strong>
            <span class="govuk-body">Has recent activity</span>
            <br/>
            <strong class="govuk-tag__fixed-width--not-applicable">act</strong>
            <span class="govuk-body">No recent activity</span>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-m">Security advisories</h3>
            <strong class="govuk-tag__fixed-width--passed">adv</strong>
            <span class="govuk-body">Enabled</span>
            <br/>
            <strong class="govuk-tag__fixed-width--not-applicable">adv</strong>
            <span class="govuk-body">Disabled</span>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-m">Dependabot status</h3>
            <strong class="govuk-tag__fixed-width--passed">dbot</strong>
            <span class="govuk-body">Enabled</span>
            <br/>
            <strong class="govuk-tag__fixed-width--not-applicable">dbot</strong>
            <span class="govuk-body">Disabled</span>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h3 class="govuk-heading-m">Vulnerabilities</h3>
            <p class="govuk-body">Has known vulnerabilities with maximum severity</p>

            <strong class="govuk-tag__fixed-width--critical">{{ "critical" | abbreviate }}</strong>
            <span class="govuk-body">Critical</span>
            <br/>
            <strong class="govuk-tag__fixed-width--high">{{ "high" | abbreviate }}</strong>
            <span class="govuk-body">High</span>
            <br/>
            <strong class="govuk-tag__fixed-width--moderate">{{ "moderate" | abbreviate }}</strong>
            <span class="govuk-body">Moderate</span>
            <br/>
            <strong class="govuk-tag__fixed-width--low">{{ "low" | abbreviate }}</strong>
            <span class="govuk-body">Low</span>
            <br/>
            <strong class="govuk-tag__fixed-width--not-applicable">none</strong>
            <span class="govuk-body">None</span>

          </section>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
