{% extends "layouts/full_width_with_sidebar.html" %}
{% block sidebar %}
{% include "components/sidebars/overview_sidebar_menu.html" %}
{% endblock %}
{% block content %}
  <h2 class="govuk-heading-l">
    {{ content.title }}
  </h2>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <div class="chart-wrapper"
         type="donut"
         series="rows"
         above="true"
         ismultiple="false"
         palette='["000000","#fc2803","#fc9003","#fcba03", "#00703c", "#6f777b"]'
      >
        <table class="govuk-table">
          <caption class="govuk-table__caption">Vulnerable by severity ({{ content.vulnerable.all }})</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Severity</th>
              <th class="govuk-table__header govuk-table__header--numeric">Count</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for severity in content.vulnerable.severities | reverse %}
            <tr class="govuk-table__row">
              <th class="govuk-table__header">
                {{ severity | title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ content.vulnerable.by_severity[severity] }}
              </td>
            </tr>
            {% endfor %}

            {% for status in content.alert_status.public %}
            {% if status != 'vulnerable' %}
            <tr class="govuk-table__row">
              <th class="govuk-table__header">
                {{ status | title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ content.alert_status.public[status] }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        For repositories with vulnerabilities they are broken down by severity.
        For repositories with multiple vulnerabilities they are classified
        according to the most severe.
      </p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-severity">
      {% for severity in content.vulnerable.severities | reverse %}

        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-severity-heading-{{severity}}">
                Most severe = {{ severity | title}} ({{ content.vulnerable.by_severity[severity] }})
              </span>
            </h2>
          </div>
          <div id="accordion-severity-content-{{severity}}" class="govuk-accordion__section-content" aria-labelledby="accordion-severity-heading-{{severity}}">

          {% set repositories = content.vulnerable.repositories[severity] %}
          {% for repo in repositories %}
            {% include "components/content_blocks/repository_summary.html" %}
          {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
