{% extends "layouts/full_width_with_sidebar.html" %}
{% block sidebar %}
{% include "components/sidebars/overview_sidebar_menu.html" %}
{% endblock %}
{% block content %}
    <h1 class="govuk-heading-l">
      {{ content.title }}
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          We have looked at various measures of GitHub behaviour.
          The primary goal was to look at the use of security advisories and
          Dependabot to patch vulnerable third-party dependencies.
          The secondary objective was to identify potential unmaintained
          repositories as candidates for archiving.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
