<div>
  <div class="govuk-grid-row govuk-!-padding-top-3">
    <div class="govuk-grid-column-two-thirds">
      <h3 class='govuk-heading-s'>
        <a href="https://github.com/{{repo.owner.login}}/{{repo.name}}/network/alerts" target="github" class="govuk-link">{{repo.name}}</a>
      </h3>
    </div>
    <div class="govuk-grid-column-one-third">
      <strong class="govuk-tag__fixed-width--{{'passed' if repo.isActive else 'not-applicable'}}">act</strong>
      <strong class="govuk-tag__fixed-width--{{'passed' if repo.securityAdvisoriesEnabledStatus else 'not-applicable'}}">adv</strong>
      <strong class="govuk-tag__fixed-width--{{'passed' if repo.dependabotEnabledStatus else 'not-applicable'}}">dbot</strong>
      {% if repo.maxSeverity %}
      <strong class="govuk-tag__fixed-width--{{repo.maxSeverity | lower }}">{{ repo.maxSeverity | abbreviate }}</strong>
      {% else %}
      <strong class="govuk-tag__fixed-width--not-applicable">none</strong>
      {% endif %}
    </div>
  </div>
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Details
      </span>
    </summary>
    <div class="govuk-details__text">
      <div class="govuk-box__suggested_action">
        <h4 class="govuk-heading-m">
          Suggested action: {{ 'Patch?' if repo.isActive else 'Archive?' }}
        </h4>
        <p class="govuk-body">
        {% if repo.isActive %}
        Activity data suggests this repository is in-use and should be patched.
        {% else %}
        The lack of activity suggests this repository could be a candidate for archiving.
        {% endif %}
        </p>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h4 class="govuk-heading-s">Activity</h4>
          <dl class="govuk-summary-list">
            {% if repo.recentPullRequestStatus %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Pull request
              </dt>
              <dd class="govuk-summary-list__value">
                {{ repo.recentPullRequestStatus }}
              </dd>
            </div>
            {% endif %}
            {% if repo.recentCommitDaysAgo %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Latest commit
              </dt>
              <dd class="govuk-summary-list__value">
                {{ 'daily' if repo.recentCommitDaysAgo == 0 else (repo.recentCommitDaysAgo | string) + ' days ago' }}
              </dd>
            </div>
            {% endif %}
            {% if repo.averageCommitDeltaDays %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Commit frequency
              </dt>
              <dd class="govuk-summary-list__value">
                {{ 'daily' if repo.averageCommitDeltaDays == 0 else (repo.averageCommitFrequency | string) + ' days' }}
              </dd>
            </div>
            {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Commits
              </dt>
              <dd class="govuk-summary-list__value">
                No activity data available
              </dd>
            </div>
            {% endif %}
          </dl>
        </div>
        <div class="govuk-grid-column-one-half">
          <h4 class="govuk-heading-s">Patched versions</h4>
          {% if repo.patches %}
          <dl class="govuk-summary-list">
            {% for package, patch in repo.patches.items() %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <strong class="govuk-tag__fixed-width--{{patch.severity | lower }}">{{ patch.severity | abbreviate }}</strong>
                <br/>
                {{ patch.package }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if patch.patch_available %}
                Patch {{ patch.current_version }} to {{ patch.patch_version }}
                {% if (patch.alternative_patched_versions | length) > 0 %}
                  <br/>or [ {{ patch.alternative_patched_versions|join(' | ', attribute='version') }} ]
                {% endif %}
                {% else %}
                No current patch available
                {% endif %}
                <br/>
                (in {{ patch.dependency_file}})
              </dd>
            </div>
            {% endfor %}
          </dl>
          {% else %}
          No patch data available
          {% endif %}
        </div>
      </div>
    </div>
  </details>
</div>
