{% extends "layouts/main.html" %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-l">Public Repository Owners</h1>
      <div class="govuk-body">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#status">
                Known Teams
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#severity">
                Other Topics
              </a>
            </li>
          </ul>

          <section class="govuk-tabs__panel" id="status">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              {% for team, team_repos in team_dict.items() %}
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      {{team}}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  {% for repo_name in team_repos %}
                  {# TODO: - Start here tomorrow suckers #}  <p class='govuk-body'>Test {{repositories[repo_name]}}</p>
                      <p class='govuk-body'><a href="https://github.com/alphagov/{{repo_name}}" class="govuk-link">{{repo_name}}</a></p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </section>

          <section class="govuk-tabs__panel" id="severity">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              {% for topic, repos in other_topics.items() %}
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      {{topic}}
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  {% for repo in repos %}
                      <p class='govuk-body'><a href="https://github.com/alphagov/{{repo}}" class="govuk-link">{{repo}}</a></p>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </section>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
